body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

#neto, #iva, #bruto {
    width: 90%;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.display {
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .calculator {
        flex-direction: row;
        justify-content: space-between;
    }

    .display {
        width: 30%;
    }
}